// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    width: 100vw;
    height: 100vh;
    background: rgb(75,175,250);
    background: radial-gradient(circle, rgba(75,175,250,1) 32%, rgba(75,80,250,1) 100%)
}